/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(18, 95%, 55%);
  --second-color: hsl(42, 98%, 52%);
  --first-gradient: linear-gradient(90deg,
                  hsl(18, 95%, 55%),
                  hsl(18, 98%, 64%));
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: .5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color 0.4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo span{
  color: #F7F5FA;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__logo i{
  color: #F7D910;
  font-size: 1.5rem;
}

.nav__toggle,
.nav__close{
  font-size: 1.5rem;
  color:#F7F5FA;
  cursor: pointer;
  transition: color 0.4s;
}


/* Navigation for mobile devices */
@media screen and (max-width:1150px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #001a4d;
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    transition: right 0.4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav__link{
  color:#F7F5FA;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover{
  color:#F7D910;
}

.nav__close {
  display: none; /* Hide by default */
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show close button when menu is visible */
.show-menu + .nav__close {
  display: block; /* Show when the menu is open */
}


/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.bg-header{
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(255, 90%, 8%, 0.1);
}

.bg-header  .nav__logo span,
.bg-header  .nav__toggle{
  color: black;
}

.logo__aca {
  display: inline-block;
  text-align: left;
  padding: 8px;
}

.aca__logo {
  max-width: 150px; 
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo__aca:hover .aca__logo {
  transform: scale(1.05);
  opacity: 0.9;
}


/*=============== HOME ===============*/

/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  background: #F7D910;
  color:#F7F5FA;
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow 0.4s;
}

.button:hover{
  box-shadow: 0 8px 32px hsla(53, 92%, 53%, 1);
  color:#F7F5FA; 
}

.button__link{
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: #F7D910;
}

.button__link span{
  font-weight: var(--font-semi-bold);
}

.button__link i{
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.button__link:hover i{
  transform: translateX(0.25rem);
}
/*==================== ABOUT ====================*/

.about__section {
    padding: 10px 0;
    background: linear-gradient(180deg, black, #001a4d, #7C88A4);
}

.about__data .section__subtitle {
    font-size: 3rem;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #F7D910;
    text-align: left; /* Align text to the left */
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for text and images */
    align-items: start; /* Aligns content to the top of each column */
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.about__data {
    text-align: center; /* Center align text */
    margin-bottom: 30px; /* Space below the text */
}

.about__data li{
    color: #BAA30C;
}

.about__data .about__description {
    color: #F7F5FA; /* Dark gray for better readability */
    line-height: 1.6; /* Space between lines for readability */
    font-size: 1rem; /* Base font size */
}

.about__images{
    position: relative;
    justify-self: right;
  }
  
  .about__img-1{
    width:350px;
    margin-left: 3.5rem;
    margin-top: 8rem;
    border: 5px solid #001A4D;
    margin-bottom: 50px;
  }
  
  .about__img-2{
    width: 200px;
    border: 5px solid #001A4D;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    margin-bottom: 15px;
  }

/*==================== WHY CHOOSE US ====================*/
.why-choose-us {
    background: linear-gradient(to bottom, #7C88A4, #ffffff);
}

.why-choose-us__list {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    text-align: center; /* Center align text */
}

.why-choose-us__list li {
    margin: 10px 0; /* Space between list items */
    font-size: 1rem; /* Base font size */
    color: #444; /* Darker text color */
}

.why-choose-us__list i {
    color: #BAA30C; /* Accent color for icons */
    margin-right: 8px; /* Space between icon and text */
    font-size: 28px;
}

.why-choose-us__description{
    text-align: center;
    font-weight: var(--font-semi-bold);
    margin: 0 20px;
}

.more-content{
  display: none;
  color: #444;
  font-size: 1rem;
  text-align: center;
}

.more-content i {
  color: #BAA30C;
  font-size: 1.75rem;
}

.read-more-btn {
  background-color: #F7D910;
  color: #001A4D;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1rem;
}

/*==================== OUR TEAM ====================*/
.our-team {
    padding: 20px 20px 20px 20px; /* Space above and below the section */
}

.team__grid {
    display: flex; /* Use flexbox for horizontal alignment */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between; /* Space between members */
    gap: 20px; /* Space between grid items */
    margin: 0 -10px; /* Negative margins to compensate for padding */
}

.team__member {
    background-color: #ffffff; /* White background for member cards */
    border-radius: 8px; /* Rounded corners for member cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center; /* Center align text */
    padding: 20px; /* Padding inside member card */
    flex: 1 1 200px; /* Flex-grow, shrink, and base width */
    min-width: 220px; /* Minimum width for cards */
    max-width: 25%; /* Limit max width to 25% of the container */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}


.team__member:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.team__member-img {
    border-radius: 50%; /* Circular profile pictures */
    width: 100px; /* Fixed width for images */
    height: 100px; /* Fixed height for images */
    object-fit: cover; /* Cover to maintain aspect ratio */
    margin-bottom: 10px; /* Space below image */
}

.team__member-name {
    font-size: 1.2rem; /* Larger font size for names */
    color: #333; /* Dark title color */
    margin: 10px 0 5px; /* Space around names */
}

.team__member-role {
    color: #777; /* Gray color for roles */
    font-size: 0.9rem; /* Smaller font size for roles */
}



/* Swiper class */
.testimonial-slider {
  max-width: 1200px; /* Maximum width */
  width: 90%; /* Full width of the parent up to the max */
  background-color: var(--light-color); /* Background color */
  padding: 30px; /* Inner padding */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Shadow effect */
  position: relative; /* Positioning */
  overflow: hidden; /* Hide overflow */
  margin: 15px auto; /* Center horizontally and add vertical spacing */
}

.testimonial-list {
  display: flex;
  overflow: hidden;
}

.testimonial {
  flex: 1 0 100%;
  text-align: center;
  padding: 20px;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.testimonial .bi-quote {
  font-size: 4rem;
  color: var(--sunglow);
  opacity: 0.75;
}

.testimonial blockquote {
  font-size: 1.25rem;
  margin-inline: 20px;
}

.user-info {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details .name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--dark-cyan);
}

.user-details .company {
  color: var(--muted-color);
}

/* button navigation */

.navi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--light-color);
  color: var(--paynes-gray);
  transition: 0.3s;
  opacity: 0;
}

.testimonial-slider:hover {
  opacity: 1;
}

.prev, .next {
  position: absolute; /* Position them absolutely within the slider */
  top: 50%; /* Vertically center them */
  transform: translateY(-50%); /* Center vertically */
  background-color: #001A4D; /* Background color for visibility */
  border: none; /* Remove default border */
  padding: 10px 15px; /* Increased padding for larger buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  z-index: 10; /* Ensure buttons are above other content */
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.prev {
  left: 10px; /* Position on the left */
}

.next {
  right: 10px; /* Position on the right */
}

.dots-container {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--dot-color);
  transition: width 0.5s;
}

.dot.active {
  width: 30px;
  background-color: var(--paynes-gray);
}

/*==================== CONTACT ====================*/
.contact {
    padding: 60px 20px; /* Space above and below the section */
    text-align: center; /* Center text alignment */
}

.contact .container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items horizontally */
}

.contact .button {
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px; /* Padding inside the button */
    background-color: #F7D910; /* Your specified button color */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.contact .button:hover {
    background-color: #e6c700; /* Darker shade on hover */
}


/*=============== FOOTER ===============*/
.footer{
  background-color: #001A4D;
  color: #F7F5FA;
  padding-block: 3.5rem 2rem;
}

.footer__container{
  row-gap: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid #BAA30C;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.footer__logo span{
  color: #F7F5FA;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__logo i{
  color:#BAA30C;
  font-size: 2rem;
}

.footer__description{
  margin-block: 1.5rem;
}

.footer__email,
.footer__info{
  font-style: normal;
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 4rem 3rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  color: #F7F5FA;
  margin-bottom: 1rem;
}

.footer__links,
.footer__list{
  display: grid;
  row-gap: 0.75rem;
  margin-bottom: 1rem;
}

.footer__link{
  color: #F7D910;
  transition: color 0.4s;
}

.footer__link:hover{
  color: #BAA30C;
}

.footer__social{
  display: flex;
  column-gap: 1rem;
}

.footer__social-link{
  font-size: 1.5rem;
  color: #F7F5FA;
  transition: transform 0.4s;
}

.footer__social-link:hover{
  transform: translateY(-0.3rem);
}

.footer__copy{
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  margin-top: 4rem;
}

/*=============== RESPONSIVE BREAKPOINTS ===============*/

/* Small devices (up to 767px) */
@media screen and (max-width: 767px) {
  .container {
    margin-inline: 1rem;
    background: linear-gradient(to bottom black, transparent) !important
  }
  .section {
    padding-block: 3rem 1rem;
  }
  .section__title {
    font-size: var(--h2-font-size);
  }
  .section__subtitle {
    font-size: var(--small-font-size);
  }
  .home__container, .about__container, .contact__container, .services__container, .projects__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .aca__logo {
    max-width: 100px; 
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .nav__menu {
    width: 100%;
  }
  .home__info {
    column-gap: 1.5rem;
  }
  .footer__content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: center; /* Center all slides horizontally */
    align-items: center;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
  
  /* Styles for each Swiper slide (card) */
  .services__card, .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Full width on small screens */
    max-width: 300px; /* Set max width for larger screens */
    margin: 10px; /* Space between each card */
  }
  .testimonial-slider {
    padding: 20px; /* Reduce padding for tablets */
  }

  .testimonial .bi-quote {
    font-size: 3.5rem; /* Slightly smaller font size for quotes */
  }

  .testimonial blockquote {
    font-size: 1.1rem; /* Adjust blockquote size */
  }

  .user-info img {
    width: 44px; /* Adjust profile picture size */
    height: 44px; /* Adjust profile picture size */
  }

  .user-details .name {
    font-size: 1.1rem; /* Adjust name size */
  }

  .user-details .company {
    font-size: 0.95rem; /* Adjust company size */
  }

  .prev, .next {
    width: 30px; /* Smaller navigation buttons */
    height: 30px; /* Smaller navigation buttons */
    font-size: 1.3rem; /* Smaller button font size */
  }

  .dot {
    width: 10px; /* Adjust dots for better visibility */
    height: 10px; /* Adjust dots for better visibility */
  }
  .about__container {
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 1rem;
}

.about__data .section__subtitle {
    font-size: 2rem;
    margin-top: 50px;
    text-align: center;
}

.about__data .about__description {
    font-size: 0.9rem;
}

.about__images {
    justify-self: center;
}

.about__img-1 {
    width: 250px;
    margin: 1.5rem 3.5rem 5rem;
}

.about__img-2 {
    width: 180px;
    bottom: 1.5rem;
}

.team__grid {
    flex-direction: column;
    align-items: center;
}

.team__member {
    width: 400px;
}
}

/* Medium devices (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding-block: 4rem 2rem;
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .team__grid {
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-around; /* Space items evenly */
  }

  .team__member {
    flex: 1 1 20%; /* Allow each member to take up 20% of the width */
    min-width: 50px; /* Limit max width to 20% of the container */
    box-sizing: border-box; /* Include padding and border in width calculations */
  }

  .team__member img {
    width: 80px; /* Optional: Adjust image size for smaller screens */
    height: 80px; /* Optional: Maintain aspect ratio */
  }


.footer {
  background-color: #001A4D;
  color: #F7F5FA;
  padding-block: 3.5rem 2rem;
}

.footer__container {
  padding-bottom: 4rem;
  border-bottom: 2px solid #BAA30C;
  display: flex; /* Use flexbox for horizontal alignment */
  flex-direction: column; /* Keep logo and description stacked */
  align-items: center; /* Center items */
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.footer__logo span {
  color: #F7F5FA;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__logo i {
  color: #BAA30C;
  font-size: 2rem;
}

.footer__description {
  margin-block: 1.5rem;
}

.footer__email,
.footer__info {
  font-style: normal;
}

.footer__content {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Space between items */
  gap: 10rem; /* Space between columns */
  width: 100%; /* Full width */
  max-width: 1200px; /* Optional: Limit maximum width */
}

.footer__title {
  font-size: var(--h3-font-size);
  color: #F7F5FA;
  margin-bottom: 1rem;
}

.footer__links,
.footer__list {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: #F7D910;
  transition: color 0.4s;
}

.footer__link:hover {
  color: #BAA30C;
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.5rem;
  color: #F7F5FA;
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.3rem);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  margin-top: 4rem;
}

.about__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 15px;
}

.about__data .section__subtitle {
    font-size: 2.5rem;
    text-align: center;
}

.about__img-1 {
    width: 400px;
    margin: 1rem 6rem 5rem 10rem;
}

.about__img-2 {
    width: 300px;
    bottom: 1.5rem;
}
}
/* Large devices (1025px and above) */
@media screen and (min-width: 1025px) {

.home__container {
  position: relative;
  row-gap: 3rem;
  padding-block: 2.5rem 6rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  .container {
    margin-inline: auto;
  }

  .section{
    padding-block: 1rem 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close{
    display:none;
  }

  .nav__menu{
    width: initial;
  }

  .nav__list{
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
  }

  .bg-header  .nav__link{
    color: var(--text-color);
  }

  .bg-header  .nav__link{
    color:#BAA30C;
  }

  .bg-header  .button,
  .bg-header  .button:hover{
    color: #F7F5FA;
  }

  .home__content{
    row-gap: 4.5rem;
  }


  .footer {
    background-color: #001A4D;
    color: #F7F5FA;
    padding-block: 3.5rem 2rem;
  }
  
  .footer__container {
    padding-bottom: 4rem;
    border-bottom: 2px solid #BAA30C;
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: column; /* Keep logo and description stacked */
    align-items: center; /* Center items */
  }
  
  .footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
  }
  
  .footer__logo span {
    color: #F7F5FA;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
  }
  
  .footer__logo i {
    color: #BAA30C;
    font-size: 2rem;
  }
  
  .footer__description {
    margin-block: 1.5rem;
  }
  
  .footer__email,
  .footer__info {
    font-style: normal;
  }
  
  .footer__content {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between; /* Space between items */
    gap: 20rem; /* Space between columns */
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: Limit maximum width */
  }
  
  .footer__title {
    font-size: var(--h3-font-size);
    color: #F7F5FA;
    margin-bottom: 1rem;
  }
  
  .footer__links,
  .footer__list {
    display: grid;
    row-gap: 0.75rem;
  }
  
  .footer__link {
    color: #F7D910;
    transition: color 0.4s;
  }
  
  .footer__link:hover {
    color: #BAA30C;
  }
  
  .footer__social {
    display: flex;
    column-gap: 1rem;
  }
  
  .footer__social-link {
    font-size: 1.5rem;
    color: #F7F5FA;
    transition: transform 0.4s;
  }
  
  .footer__social-link:hover {
    transform: translateY(-0.3rem);
  }
  
  .footer__copy {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: 4rem;
  }
}
